#{extends 'main.html' /}
#{set subPageTitle:'Stedregister' /}
#{ header /}


<script type="text/javascript">


    $(() => {

        //$('div.person').hide();
        $('div.root').hide();

        const alphabet = [
            'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'æ', 'ø', 'å'
        ];

        const replacements = new Map([
            ['á', 'a'], ['à', 'a'], ['â', 'a'], ['ç', 'c'], ['ð', 'd'],
            ['é', 'e'], ['è', 'e'], ['ë', 'e'], ['ê', 'e'],
            ['í', 'i'], ['ì', 'i'], ['ï', 'i'], ['î', 'i'],
            ['ó', 'o'], ['ò', 'o'], ['ô', 'o'], ['ş', 's'], ['ś', 's'],
            ['ț', 't'], ['þ', 't'], ['ú', 'u'], ['ù', 'u'], ['û', 'u'],
            ['ý', 'y'], ['ỳ', 'y'], ['ÿ', 'y'], ['ŷ', 'y'], ['ü', 'y'],
            ['æ', '{'], ['ä', '{'], ['ø', '|'], ['ö', '|'], ['å', '}']
        ]);

        function normAlfa(a) { // normalise names to lower case without diacritical marks etc., KK 2014.10.07, 2020-11-11
            let normalised = '';

            for (const character of a.toLowerCase()) {
                normalised += replacements.get(character) || character;
            }

            return normalised.split('aa').join('}');
        }

        const nodesByLetter = new Map(alphabet.map(value => [normAlfa(value), []]));

        $('div.row').not('div.row > div.row').each((index, place) => {
            const $place = $(place);
            const name = $place.find('span.placeAltName, span.placeName').first().text().trim();
            const nodes = nodesByLetter.get(normAlfa(name).charAt(0));

            if (!nodes) {
                return;
            }

            const $header = $place.find('span.placeHeader');
            const header = $header.html();
            const id = $header.parent().attr('id');
            const description = $place.find('.placeContent').html() || '';
            let node = '<tr id="' + id + '"><td class="navn">' + header + '</td><td class="definisjon">' + description + '</td></tr>';

            $place.find('div.row').each((childIndex, childPlace) => {
                const $childPlace = $(childPlace);
                const childHeader = $childPlace.find('span.placeHeader').html();
                const childDescription = $childPlace.find('.placeContent').html() || '';
                node += '<tr><td class="navn"><span class="placeInnrykk">' + childHeader + '</span></td><td class="definisjon">' + childDescription + '</td></tr>';
            });

            nodes.push(node);
            $place.remove();
        });

        alphabet.forEach(value => {
            const nodes = nodesByLetter.get(normAlfa(value)).reverse();
            const $heading = $('#' + value.toUpperCase());

            nodes.forEach(node => {
                $heading.after(node);
            });
        });

        $('a[name]').click(e => {
            e.preventDefault();
            const scrollTarget = $('#' + $(e.currentTarget).attr('name'));
            $.scrollTo(scrollTarget, 500);
        });

        // get current location and scrolldown to this if exists
        const loc = String(document.location);
        const idx = loc.indexOf('#');
        const href = idx > 0 ? loc.substring(idx + 1) : '';
        if (href) {
            $.scrollTo('#' + href, 500);
        }

    });


</script>

<div id="main">

    <div class="container" id="underside_innhold">

        <div id="submenu">
            <div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="#">Registre</a> &raquo; Stedregister</div>
            <a id="place_vejledning" href="../vejledning/place_vej">Vejledning til stedregister</a>
        </div>

        <div class="kolonne1">

            <ul id="kolonne1_meny">

                <li class="header">Registre</li>

                <li><a href="../reg">Registranten</a></li>
                <li><a href="../myter">Mytologisk register</a></li>
                <li><a href="../personer">Personregister</a></li>
                <li><a class="selected" href="../steder">Stedregister</a></li>
                <li><a href="/salmer">Salmeregister</a></li>
                <li><a href="../bibel">Bibelstedsregister</a></li>
                <li><a href="../bookinvent">Bogfortegnelse 1805</a></li>
                <li class="last"><a href="../bookinvent">Bogfortegnelse 1805</a></li>
            </ul>

        </div>

        <div class="placelook" id="kolonne1_bred">

            <h1>Stedregister</h1>

            <h3>En oversigt over centrale steder i Grundtvigs værker.</h3>

            <div id="innholdsfortegnelse">

                <a href="../steder#A">a</a>
                <a href="../steder#B">b</a>
                <a href="../steder#C">c</a>
                <a href="../steder#D">d</a>
                <a href="../steder#E">e</a>
                <a href="../steder#F">f</a>
                <a href="../steder#G">g</a>
                <a href="../steder#H">h</a>
                <a href="../steder#I">i</a>
                <a href="../steder#J">j</a>
                <a href="../steder#K">k</a>
                <a href="../steder#L">l</a>
                <a href="../steder#M">m</a>
                <a href="../steder#N">n</a>
                <a href="../steder#O">o</a>
                <a href="../steder#P">p</a>
                <a href="../steder#Q">q</a>
                <a href="../steder#R">r</a>
                <a href="../steder#S">s</a>
                <a href="../steder#T">t</a>
                <a href="../steder#U">u</a>
                <a href="../steder#V">v</a>
                <a href="../steder#W">w</a>
                <a href="../steder#X">x</a>
                <a href="../steder#Y">y</a>
                <a href="../steder#Z">z</a>
                <a href="../steder#Æ">Æ</a>
                <a href="../steder#Ø">Ø</a>
                <a href="../steder#Å">Å</a>
            </div>

            <div id="liste">

                ${asset.html.raw()}

                <table class="place">
                    <tr class="bottom_border" id="A">
                        <td class="navn"><h4>A</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>

                    <tr class="bottom_border" id="B">
                        <td class="navn"><h4>B</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>

                    <tr class="bottom_border" id="C">
                        <td class="navn"><h4>C</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>

                    <tr class="bottom_border" id="D">
                        <td class="navn"><h4>D</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="E">
                        <td class="navn"><h4>E</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="F">
                        <td class="navn"><h4>F</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="G">
                        <td class="navn"><h4>G</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="H">
                        <td class="navn"><h4>H</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="I">
                        <td class="navn"><h4>I</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="J">
                        <td class="navn"><h4>J</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="K">
                        <td class="navn"><h4>K</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="L">
                        <td class="navn"><h4>L</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="M">
                        <td class="navn"><h4>M</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="N">
                        <td class="navn"><h4>N</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="O">
                        <td class="navn"><h4>O</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="P">
                        <td class="navn"><h4>P</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Q">
                        <td class="navn"><h4>Q</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="R">
                        <td class="navn"><h4>R</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="S">
                        <td class="navn"><h4>S</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="T">
                        <td class="navn"><h4>T</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="U">
                        <td class="navn"><h4>U</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="V">
                        <td class="navn"><h4>V</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="W">
                        <td class="navn"><h4>W</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="X">
                        <td class="navn"><h4>X</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Y">
                        <td class="navn"><h4>Y</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Z">
                        <td class="navn"><h4>Z</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Æ">
                        <td class="navn"><h4>Æ</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Ø">
                        <td class="navn"><h4>Ø</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="Å">
                        <td class="navn"><h4>Å</h4></td>
                        <td></td>
                        <td></td>
                        <td><a class="returnTop" href="../steder#" title="til toppen">&#x25B2;</a></td>
                    </tr>

                </table>

            </div>

        </div>

    </div>
</div>
