<!--
  Alfabetisk værkoversigt
    (efter 'personvisning.html')
  Grundtvigs værker
  KK 2013-09-18
  Inkl. alternativ titel, KK 2014-03-06
  KK 2015-10-06: inkl. genrer i kolonne1_meny
  KK 2015-10-08: [kvalificerende tekst] skal ikke med i sortering
  KK 2017-03-29 deltitler
  KK 2020-10-27 alfabetisering, aa=å mv.
-->
#{extends 'main.html' /}
#{ header /}

<script type="text/javascript">

    const BRACKETED_TEXT_PATTERN = /\s*\[[^\]]*\]\s*/g;
    const NUMBER_PATTERN = /\d+/g;
    const alphabetReplacements = new Map([
        ['z', 'z0'], ['æ', 'z1'], ['ä', 'z1'], ['ø', 'z2'], ['ö', 'z2'],
        ['å', 'z3'], ['ü', 'y'], ['é', 'e'], ['è', 'e'], ['ê', 'e'],
        ['á', 'a'], ['à', 'a'], ['œ', 'oe'], ['ç', 'c'], ['ð', 'd'], ['þ', 'th']
    ]);

    $(() => {

        $('div.root').hide();

        const alphabet = [
            '0', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'æ', 'ø', 'å'
        ];

        const nodesByLetter = new Map(alphabet.map(value => [alphabetGroup(value), []]));

        const addNode = (label, uri, year, sj, isPart = false) => {
            const sortKey = alphabetize(label);
            const nodes = nodesByLetter.get(alphabetGroupFromKey(sortKey));

            if (!nodes) {
                return;
            }

            const link = isPart ? '<a href=\'' + uri + '\'>' : '<a href="' + uri + '">';
            const node = '\<!--' + sortKey + '--><tr><td class="shortForm">' + link + label + '</a></td><td class="definisjon">' + year + '</td><td class="sjNummer">' + sj + '</td></tr>';
            nodes.push(node);
        };

        $('div.work').each((workIndex, work) => {
            const $work = $(work);
            const name = $work.find('span.name').text();
            const uri = $work.find('span.uri').text();
            const [year, sj] = $work.find('span.rootName').text().split('_');
            const altName = $work.find('span.altName').text();
            const $partName = $work.find('span.partName');

            addNode(name, uri, year, sj);
            if (altName) {
                addNode(altName, uri, year, sj);
            }

            if ($partName.text().includes('<')) {
                $partName.html($partName.text());
            }

            $partName.find('desc').each((partIndex, part) => {
                const $part = $(part);
                const partLabel = $part.find('label').text();
                const partUrl = uri + '#\u007b\"0\":0,\"k\":' + ($part.find('ident').text() - 1) + '\u007d';
                const partYear = $part.find('date').text() || year;
                const partSj = $part.find('idno').text() || sj;

                addNode(partLabel, partUrl, partYear, partSj, true);
            });
        });

        alphabet.forEach(value => {
            const nodes = nodesByLetter.get(alphabetGroup(value)).sort().reverse();
            const $heading = $('#' + alphabetize(value).trim());

            nodes.forEach(node => {
                $heading.after(node);
            });
        });

        const loc = String(document.location);
        const idx = loc.indexOf('#');
        const href = idx > 0 ? loc.substring(idx + 1) : '';
        if (href) {
            $.scrollTo('#' + href, 500);
        }
    });

    function alphabetize(s) {
        let value = s.replace(BRACKETED_TEXT_PATTERN, '').toLowerCase();
        value = value.replace(NUMBER_PATTERN, number => number.padStart(8, '0'));

        let normalised = '';
        for (const character of value) {
            normalised += alphabetReplacements.get(character) || character;
        }

        return normalised.split('aa').join('z3') + ' ';
    }

    function alphabetGroup(value) {
        return alphabetGroupFromKey(alphabetize(value));
    }

    function alphabetGroupFromKey(alphabetized) {
        return alphabetized.charAt(0) === 'z' ? alphabetized.slice(0, 2) : alphabetized.charAt(0);
    }


</script>


<div id="main">

    <div class="container" id="underside_innhold">

        <div id="submenu">
            <div id="breadcrumbs"><a href="#">Forside</a> &raquo; <a href="../alfa#">Værker</a> &raquo; Alfabetisk oversigt</div>

        </div>

        <div class="kolonne1">
            <ul id="kolonne1_meny">
                <li class="header">Værker</li>
                <li><a href="/krono">Kronologisk</a></li>
                <li><a class="selected" href="/alfa">Alfabetisk</a></li>
                <li class="last"><a href="/genre">Genrer</a></li>
            </ul>
        </div>

        <div id="kolonne1_bred">

            <h1>Værker</h1>

            <p class="alfaText">Nedenfor findes en alfabetisk oversigt over Grundtvigs værker. Salmer kan her findes under den oprindelige titel, mens de kan
                findes under deres oprindelige førstelinje i salmeregisteret <a href="../salmer#">her</a>. SJ-nummeret i højre side henviser til det nummer, som
                værket er tildelt i Steen Johansens <i>Bibliografi over N.F.S. Grundtvigs skrifter</i> fra 1948-1954.</p>

            <div id="innholdsfortegnelse">

                <a href="../alfa#00000000">1 -</a>
                <a href="../alfa#a">a</a>
                <a href="../alfa#b">b</a>
                <a href="../alfa#c">c</a>
                <a href="../alfa#d">d</a>
                <a href="../alfa#e">e</a>
                <a href="../alfa#f">f</a>
                <a href="../alfa#g">g</a>
                <a href="../alfa#h">h</a>
                <a href="../alfa#i">i</a>
                <a href="../alfa#j">j</a>
                <a href="../alfa#k">k</a>
                <a href="../alfa#l">l</a>
                <a href="../alfa#m">m</a>
                <a href="../alfa#n">n</a>
                <a href="../alfa#o">o</a>
                <a href="../alfa#p">p</a>
                <a href="../alfa#q">q</a>
                <a href="../alfa#r">r</a>
                <a href="../alfa#s">s</a>
                <a href="../alfa#t">t</a>
                <a href="../alfa#u">u</a>
                <a href="../alfa#v">v</a>
                <a href="../alfa#w">w</a>
                <a href="../alfa#x">x</a>
                <a href="../alfa#y">y</a>
                <a href="../alfa#z0">z</a>
                <a href="../alfa#z1">æ</a>
                <a href="../alfa#z2">ø</a>
                <a href="../alfa#z3" style="text-transform: none; width:38px;">Aa</a>
            </div>

            <div id="liste" class="hideroot">

                <!--div>Her bygges en alfabetisk oversigt!</div-->

                <div class="root">
                    #{list play.mvc.Scope.RenderArgs.current().rootAssets, as:'asset'}
                    <div class="work">
                        <span class="uri">@{ShowAsset.tekstvisning(asset.id, 0)}</span>
                        <span class="name">${asset.name}</span>
                        <span class="rootName">${asset.rootName}</span>
                        <span class="altName">${asset.altForm}</span>
                        <span class="partName">${asset.partForm}</span>
                    </div>
                    #{/list}
                </div>

                <table class="alfa">
                    <tr>
                        <td class="shortForm">Titel</td>
                        <td class="definisjon">År</td>
                        <td class="sjNummer" title="Steen Johansen">SJ</td>
                    </tr>

                    <tr class="bottom_border" id="00000000">
                        <td class="shortForm"><h4>1 -</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>

                    <tr class="bottom_border" id="a">
                        <td class="shortForm"><h4>A</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="b">
                        <td class="shortForm"><h4>B</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="c">
                        <td class="shortForm"><h4>C</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="d">
                        <td class="shortForm"><h4>D</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="e">
                        <td class="shortForm"><h4>E</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="f">
                        <td class="shortForm"><h4>F</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="g">
                        <td class="shortForm"><h4>G</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="h">
                        <td class="shortForm"><h4>H</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="i">
                        <td class="shortForm"><h4>I</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="j">
                        <td class="shortForm"><h4>J</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="k">
                        <td class="shortForm"><h4>K</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="l">
                        <td class="shortForm"><h4>L</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="m">
                        <td class="shortForm"><h4>M</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="n">
                        <td class="shortForm"><h4>N</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="o">
                        <td class="shortForm"><h4>O</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="p">
                        <td class="shortForm"><h4>P</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="q">
                        <td class="shortForm"><h4>Q</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="r">
                        <td class="shortForm"><h4>R</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="s">
                        <td class="shortForm"><h4>S</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="t">
                        <td class="shortForm"><h4>T</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="u">
                        <td class="shortForm"><h4>U</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="v">
                        <td class="shortForm"><h4>V</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="w">
                        <td class="shortForm"><h4>W</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="x">
                        <td class="shortForm"><h4>X</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="y">
                        <td class="shortForm"><h4>Y</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="z0">
                        <td class="shortForm"><h4>Z</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="z1">
                        <td class="shortForm"><h4>Æ</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="z2">
                        <td class="shortForm"><h4>Ø</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                    <tr class="bottom_border" id="z3">
                        <td class="shortForm"><h4 style="text-transform: none">Aa</h4></td>
                        <td class="returnTop"><a class="returnTop" href="../alfa#" title="til toppen">&#x25B2;</a></td>
                    </tr>
                </table>

            </div>

        </div>

    </div>
</div>
